##### Regular Expression(Regex):-Regular Expression or Regex is a sequence of characters that defines a search patterns.

    Regex can be used to check if string contains specific search pattern i.e. text processing.

Fuctions in Regex:-

    1)findall()=list
    2)sub()
    3)search()
    4)match()
    5)compile()
    6)Split()

1)findall():-findall returns a list containing all matches.
    Syntax- re.findall("pattern,text")

In [8]:
import re
text="""My Mobile Number is: 9944566842, 9825413678
        email id is : viratkohli@gmail.com
        todays date is : 30-05-2022
        aadhar no is : 4444 5555 6666
        Mobile Number is : 7788776648"""
mob=re.findall("\d{10}",text)
mob
mob=re.findall("[0-9]{10}",text)
print(mob)
date=re.findall("[0-9]{2}[-][0-9]{2}[-][0-9]{4}",text)
print(date)
aadhar=re.findall("[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}",text) 
print(aadhar)
email=re.findall("[a-z]{2,20}[@][a-z.]{2,20}",text)
print(email)

['9944566842', '9825413678', '7788776648']
['30-05-2022']
['4444 5555 6666']
['viratkohli@gmail.com']

In [9]:
import re
text= """My Mobile Number is : 9865471235
         email id is : viratkohli@gamil.com, priyadeshmukh23@gmail.com
         todays date is : 30-05-2023
         Mobile Number is: 7752146381
         29-09-2014
         12-03-2015
         14-02-2016"""
date=re.findall("[0-9]{2}[-][0-9]{2}[-][0-9]{4}",text)
date

['30-05-2023', '29-09-2014', '12-03-2015', '14-02-2016']

In [10]:
import re
text="""My Mobile Number is : 9945871263,
        email id is : viratkohli@gmail.com
        todays date is :30-02-2022
        Mobile Number is : 7712456389
        29-03-2017
        31-05-2019
        26-04-2016
        30/06/2016
        24.05.2017"""
date=re.findall("[0-9]{2}[-/.][0-9]{2}[-/.][0-9]{4}",text)
date

['30-02-2022',
 '29-03-2017',
 '31-05-2019',
 '26-04-2016',
 '30/06/2016',
 '24.05.2017']

In [11]:
text="""PAN CARD NUMBER : ASDFH1254P
        PAN CARD NUMBER : ADFSG5236F
        PAN CARD NUMBER : POLYI1263N"""
pan=re.findall("[A-Z]{5}[0-9]{4}[A-Z]",text)
pan

['ASDFH1254P', 'ADFSG5236F', 'POLYI1263N']

In [12]:
import re
text = """My Mobile Number is : 9820416052,
          email id is : viratkohli@gamil.com
          email id is : virat123@gmail.com"""
email=re.findall("[a-z0-9]{2,20}[@][a-z.]{2,20}",text)
email

['viratkohli@gamil.com', 'virat123@gmail.com']

In [13]:
text = """email id is : viratkohli@gmail.com
          email id is : viratkohli123@gmail.com
          email id is : virat_kohli123@gmail.com
          email id is : virat-kohli@gmail.com
          email id is : virat-kohli@vcypune.co.in"""
email=re.findall("[a-z0-9-_]{2,20}[@][a-z.]{2,20}",text)
email

['viratkohli@gmail.com',
 'viratkohli123@gmail.com',
 'virat_kohli123@gmail.com',
 'virat-kohli@gmail.com',
 'virat-kohli@vcypune.co.in']

In [16]:
text="""Name : Priyanka Vijay Dhakate.
        PAN Number : ASDFG1234P
        Mobile Number : 8564123958
        DOB : 17/11/1996
        Email id : pdhakate564@gmail.com
        aadhar number = 2536 4178 2014
        """
#print(pan_number)
#print(mob_number)
#print(date)
#print(email_id)
#print(aadhar_number)
print(text)

Name : Priyanka Vijay Dhakate.
        PAN Number : ASDFG1234P
        Mobile Number : 8564123958
        DOB : 17/11/1996
        Email id : pdhakate564@gmail.com
        aadhar number = 2536 4178 2014

#### Special Characters:-

In [26]:
text="""My Mobile NUmber is : 9925147836,
        email id is: viratkohli@gamil.com,chetna_123@gmail.com,ch@gmail.com,
        today date is : 30-02-2016,30/02/2016,
        4412 5236 5478,
        PAN : LKJHG2343R,
        Mobile Number is : 7785236414"""

In [27]:
#we will use findall() to search pattern
import re #importing Regular expression module

#To find Mobile no.
mob_no=re.findall("[0-9]{10}",text)  #using [0-9]{10}
print(mob_no)
mob=re.findall("\d{10}",text)   #using \d
print(mob)

#To find Aadhar card no
aadhar=re.findall("[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}",text)
print(aadhar)
aadhar_no=re.findall("\d{4}\s\d{4}\s\d{4}",text)     #using \d
print(aadhar_no)


#To find pan card no 
pan=re.findall("[A-Z]{5}[0-9]{4}[A-Z]",text)
print(pan)
pan1=re.findall("\D{5}\d{4}\D",text)
print(pan1)

#30-05-2022
date=re.findall("[0-9]{2}[/-][0-9]{2}[/-][0-9]{4}",text)
print(date)

#emailid:viratkohli@gmail.com,com,chetna_123@gmail.com,ch@gmail.com
email=re.findall("[a-z0-9_]{2,20}[@][a-z]{2,5}[.a-z]{4}",text)
print(email)

['9925147836', '7785236414']
['9925147836', '7785236414']
['4412 5236 5478']
['4412 5236 5478']
['LKJHG2343R']
['     4412 ', 'LKJHG2343R']
['30-02-2016', '30/02/2016']
['viratkohli@gamil.com', 'chetna_123@gmail.com', 'ch@gmail.com']

In [ ]:
1) \d:-Returns a match where string contains digit (0-9)or[0-9]

In [ ]:
2) \D:-Returns a match where string does not contains digits. Eg.-spaces,special characters, ;etters etc[^0-9]

In [30]:
text="""chetna@123 chetanavasave"""
s=re.findall("\w{2,11}",text)
print(s)

['chetna', '123', 'chetanavasa', 've']

In [31]:
text=""" DOB : 17/11/2014
         Email id: vishaltande112@gmail.com
         aadhar number = 1523 4568 2356"""
x=re.findall('\D',text)
print(x)

[' ', 'D', 'O', 'B', ' ', ':', ' ', '/', '/', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'E', 'm', 'a', 'i', 'l', ' ', 'i', 'd', ':', ' ', 'v', 'i', 's', 'h', 'a', 'l', 't', 'a', 'n', 'd', 'e', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', 'a', 'a', 'd', 'h', 'a', 'r', ' ', 'n', 'u', 'm', 'b', 'e', 'r', ' ', '=', ' ', ' ', ' ']

In [32]:
text="""Machine learning is a field of inquiry devoted to understanding and building
methods thta 'learn', that is, methods that leverage date to improve performance on some
set of task. It is seen as a part of artificial intelligence"""
x=re.findall('\D{5}',text)
print(x)

['Machi', 'ne le', 'arnin', 'g is ', 'a fie', 'ld of', ' inqu', 'iry d', 'evote', 'd to ', 'under', 'stand', 'ing a', 'nd bu', 'ildin', 'g\nmet', 'hods ', 'thta ', "'lear", "n', t", 'hat i', 's, me', 'thods', ' that', ' leve', 'rage ', 'date ', 'to im', 'prove', ' perf', 'orman', 'ce on', ' some', '\nset ', 'of ta', 'sk. I', 't is ', 'seen ', 'as a ', 'part ', 'of ar', 'tific', 'ial i', 'ntell', 'igenc']

In [33]:
import re
text1 = """
            PAN Number : SADFG6578P               #valid
            PAN Number2 : GHJFSAERTU2468UGB       #invalid
            HGDSDGGH768Lk                         #invalid
            GFDASAERTUH9865Lk                     #invalid
            HJKLG6546L                            #valid"""
pan_number=re.findall('[A-Z]'{5}\d{4}[A-Z]',text1)
pan_number

SyntaxError: unexpected character after line continuation character (2677856718.py, line 8)

In [ ]:
Sub():- Sub function is used to replace one or many matches with the string.
    It returns the updated string text.
    syntax:-re.sub(pattern,new string,text)

In [34]:
import re
string ="Machine 121 learning is a field of inquiry devoted to understanding 23"
s=re.sub("\D{7}\s\d{3}\s\D{8}","Data Science",string)
print(s)

Data Science is a field of inquiry devoted to understanding 23

In [ ]:
3) Search():-

In [35]:
string='python and data science'
s=re.search("\D",string)

In [36]:
s

In [ ]:
4) Match

In [38]:
string='1Python and data science'
re.match("\d",string)

In [41]:
regex=re.compile(r'([\d]{2})-([\d]{2})-([\d]{4})')

#search method
print('compiled reg expr', regex.search('26-04-2012'))

compiled reg expr <re.Match object; span=(0, 10), match='26-04-2012'>

In [43]:
#sub method
print(regex.sub(r'\1.\2.\3','26-08-2014'))

26.08.2014